/* Default SearchBar Styles */
.search-form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%; /* Make it take the full width */
}

.search-input {
  width: 350px;
  padding: 10px 20px;
  border: 2px solid #ffffff; /* White border */
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7); /* Light background for the input */
  color: #333; /* Dark text for input */
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.search-button {
  padding: 10px 20px;
  background-color: #f5a623; /* Light orange-yellow for contrast with cream background */
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  cursor: pointer;
}
